accelerate
anthropic
codetiming
datasets
dill
flash-attn==2.7.4.post1
gym
gym_sokoban
gymnasium[toy-text]
hydra-core
matplotlib
numpy
openai
pandas
peft
Pillow
pyarrow>=15.0.0
pylatexenc
pytest
ray>=2.10
tensordict>=0.8.0,<0.9.0
together
torchdata
transformers
vllm==0.8.2
wandb
